<div class="container">
    <section>
        <div class="image">
            <img src="../../assets/avtar.jfif" alt="avtar">
        
        <div>
            <h1>Sujeet Kumar</h1>
            <h2>UI Developer</h2>
        </div>
    </div>

        <div class="timeline">
            <div class="container1 left">
                <div class="content1">
                    <h3>2011-2015</h3>
                    <p>B.Tech (CSE)</p>
                </div>
            </div>
        </div>
        <div class="container2 right">
            <div class="content2">
                <h3>2011-2015</h3>
                <p>Zorreka Innovation Pvt. Ltd.</p>
            </div>
        </div>
    </section>
</div>