<div class="container">
    <section>
        <h1>CONTACT ME</h1>
        <div class="add">
            <img src="../../assets/address.jfif">
            <address>
                Address # Jaya sai PG
                SGR Dental College Road
                Banglore, Karnatka - 560037
            </address>
        </div>
        <div class="tele">
            <img src="../../assets/phone.png" alt="telephone">
            <p class="mobile">
                Telephone no. #
                <a href="tel:953-479-6838">953-479-6838</a>
            </p>
        </div>
        <div class="email">
            <img src="../../assets/email.png" alt="email">
            <p><a href="mailto:kumarsujeet637@gmail.com">kumarsujeet637@gmail.com</a></p>
        </div>
        <div class="social">

            <div class="link">

                <a href="https://www.linkedin.com/in/sujeet-kumar-2693b7aa/" target="_blank"> <img
                        src="../../assets/linkedin.png"></a>

            </div>
            <div class="face"><a href="https://www.facebook.com/profile.php?id=100003096050007" target="_blank">
                    <img src="../../assets/facebook.png"></a>
            </div>
            <div class="twit"><a href="https://twitter.com/kumarsujeet637" target="_blank">
                    <img src="../../assets/twiter.png"></a>
            </div>
            <div class="nauk"><a href="https://www.naukri.com/mnjuser/profile?id=&orgn=homepage" target="_blank">
                    <img src="../../assets/naukri.jfif"></a>
            </div>

        </div>
    </section>
</div>