<div class="container">
    <section>
        <div class="rob">
            <img src="../../assets/dtmf.jfif" alt="dtmf">
            <h1>Mobile control Robot</h1>
            <button (click)="clickbtn()">Click here see tools</button>
        </div>
        <div [ngStyle]= "{'display': myVar === true ? 'flow-root' : 'none'}">
            <div class="double">Hardware Use .</div>
            <div class="list1">
                <li>DTMF Cirduit</li>
                <li>SVR Board</li>
                <li>Mobile</li>
            </div>
            <div class="double1">Technology Used .</div>
            <div class="list2">
                <li>Eclips</li>
                <li>AVR Studio</li>
                <li>Sina Prog 2.1</li>
            </div>
        </div>
        <div class="hos">
            <img src="../../assets/hospital.jfif" alt="hospital"> 
            <h1>Online Hospital Management</h1>
            <button (click)="button1()"> Click See here tools</button>
        </div>
        <div [ngStyle]= "{'display': myVar1 === true ? 'flow-root' : 'none'}">
            <div class="double">Hardware Use .</div>
            <div class="list1">
                <li>DTMF Cirduit</li>
                <li>SVR Board</li>
                <li>Mobile</li>
            </div>
            <div class="double1">Technology Used .</div>
            <div class="list2">
                <li>Eclips</li>
                <li>AVR Studio</li>
                <li>Sina Prog 2.1</li>
            </div>
        </div>
    </section>
</div>