section{
    display: block;
    background-color: white;
    height: 465px;
    margin-top: 60px;
}
h1{
    background-color: red;
    text-align: center;
}
* {box-sizing: border-box}
.container1{
    width: 100%;
    background-color: #ddd;
}
.skills{
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html{
    width: 70%; background-color: #4CAF50;
}
.css{
    width: 70%; background-color: #2196F3;
}
.js{
    width: 35%; background-color: #f44336;
}
.mt{
    width: 80%; background-color: #808080;
}
.pt{
    width: 70%; background-color: #f7e70e;
}
