<div class="container">
    <section>
        <h1>My skill</h1>
        <p>HTML</p>
        <div class="container1">
            <div class=" skills html">70%</div>
        </div>
       <p>CSS</p>
        <div class="container1">
            <div class=" skills css">70%</div>
        </div>
            <p>Java Script</p>
        <div class="container1">
            <div class=" skills js">70%</div>
        </div>
            <p>Manual Testing</p>
        <div class="container1">
            <div class=" skills mt">70%</div>
        </div>
            <p>Performance Testing</p>
        <div class="container1">
            <div class=" skills pt">70%</div>
        </div>  
    </section>
</div>